<%- include("header") -%>

  <h1 id="heading" class="box"><%=listTitle%></h1>
  <div class="box">
   <% newListItem.forEach(function(item){ %>
      <form action="/delete" method="post">
        <div class="item">
            <p>
              <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
               <%=item.name%>
               <input type="hidden" name="listName" value="<%=listTitle%>"> </input>
            </p>
        </div>
      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%=listTitle%>">+</button>
    </form>
  </div>

<%- include("footer") -%>
